{
 :app-name "<from-cloudformation>"
 
 :allow
 [datomic-ion.app/handler
  datomic-ion.api-gateway.app/app
  datomic-ion.api-gateway.component.app/app]
 
 :lambdas
 {
  :app {:fn datomic-ion.app/handler}
  :apigw-app {:fn datomic-ion.api-gateway.app/app
              :integration :api-gateway/proxy}
  :apigw-component-app {:fn datomic-ion.api-gateway.component.app/app
                        :integration :api-gateway/proxy}}}
